redirect 301 /Specifications/Fit-Trail_specs.htm http://www.fittrail.com/specifications.html
redirect 301 /FAQ.HTM http://www.fittrail.com/faq.html
redirect 301 /features.htm http://www.fittrail.com/features.html
redirect 301 /price.htm http://www.fittrail.com
redirect 301 /users.htm http://www.fittrail.com
redirect 301 /publicity/htm http://www.fittrail.com/publicity.html
redirect 301 /guarantee.htm http://www.fittrail.com/warranty.html
redirect 301 /Specifications/jogging%20system20.htm http://www.fittrail.com/20station.html
redirect 301 /news.htm http://www.fittrail.com/news.html
redirect 301 /Specifications/fitness%20center20.htm http://www.fittrail.com/20station.html
redirect 301 /Specifications/fitness%20center10.htm http://www.fittrail.com/10station.html
redirect 301 /contact.htm http://www.fittrail.com/contact.html
redirect 301 /Specifications/jogging%20system10.htm http://www.fittrail.com/10station.html
redirect 301 /request.html http://www.fittrail.com/request_info.html
redirect 301 /aaa.htm http://www.fittrail.com/news.html
redirect 301 /health1.htm http://www.fittrail.com/news.html
