<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
	<head>
		<title>Fit-Trail: Shipping and Installation Information for 10 and 20 Station Outdoor Fitness Equipment</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="description" content="Information on the shipping and installation of our parcourse like Fit Trail outdoor gym equipment"/>
		<link rel="stylesheet" type="text/css" href="stylesheet.css" />
		<script src="SpryAssets/SpryMenuBar.js" type="text/javascript"></script>
		<link href="SpryAssets/SpryMenuBarHorizontal.css" rel="stylesheet" type="text/css" />
    <meta name="Keywords" content="par course fitness system, outdoor fitness equipment, fitness trails, parcourse, outdoor gym equipment, fit trail, fitness parks, park exercise system, fittrail, outdoor exercise stations, fit-trail" />
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-22836815-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
	<body>
	
		<div class="bannerArea">
	  <div class="container">
				<div class="bannernav">
				  <p><a href="default.html" >Home</a> &bull; <a href="contact.html" >Contact Us</a> &bull; <a href="site_map.html" >Site Map</a></p>
				  <p><a href="https://www.facebook.com/pages/Fit-Trail/106918081677" target="_new"><img src="images/Facebook_logo.png" alt="fit trail" width="25" height="25" align="right" /></a></p>
</div>
				<div class="toplogo"><a href="default.html"><img src="images/banner_logo.png" border="0"/></a></div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="topnavigationArea">
			<div class="container"> 
				<div class="topnavigationgroup">
					<ul id="MenuBar1" class="MenuBarHorizontal">
<li><a href="10station.html" class="MenuBarItemSubmenu">Products</a>
  <ul>
    <li><a href="10station.html">10 Station</a></li>
    <li><a href="20station.html">20 Station</a></li>
    <li><a href="sponsor_signs.html">Custom Sponsor Signs</a></li>
  </ul>
</li>
                      <li><a href="warranty.html" class="MenuBarItemSubmenu">About</a>
					    <ul>
<li><a href="features.html">Features</a></li>
<li><a href="specifications.html">Specifications</a></li>
<li><a href="installation.html">Shipping &amp; Installation</a></li>
<li><a href="warranty.html">Warranty</a></li>
<li><a href="publicity.html">Publicity</a></li>
<li><a href="news.html">News &amp; Links</a></li>
<li><a href="faq.html">FAQ</a></li>
                        </ul>
						</li>
						<li><a href="corporations.html" class="MenuBarItemSubmenu">Users</a>
						  <ul>
                            <li><a href="corporations.html">Business &amp; Industry</a></li>
                            <li><a href="hospitals.html">Healthcare</a></li>
                            <li><a href="hotels.html">Hotels &amp; Resorts</a></li>
                            <li><a href="military.html">Military Installations</a></li>
                            <li><a href="parks.html">Parks &amp; Recreation</a></li>
                            <li><a href="residential.html">Residential Properties</a></li>
                            <li><a href="schools.html">Schools &amp; Universities</a></li>
						  </ul>
					  </li>
						<li style="border-right-style: solid;"><a href="request_info.html">Request Info</a></li>
					</ul>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="contentArea">
			<div class="container"> 
				<div class="contentmain">
					<h1>Shipping &amp; Installation<a href="images/station_photos/installationlg.jpg" target="_blank"><img src="images/station_photos/installation.jpg" alt="Par course" width="250" height="188" class="imageright" /></a></h1>
				  <h2>Shipping</h2>
					<p>Fit-Trail systems are shipped on pallets which contain individual crates. In general, the apparatus for the stations are packed in separate crates for each station. Due to the weight and size of the pallets, a fork lift will be needed to unload your outdoor fitness equipment off the truck. If a forklift is not available, the strapping can be cut so that individual pieces can be unloaded one at a time by 2 to 3 laborers. The recipient is responsible for any further moves within the property or delivery locale.   Motor freight lines typically add a surcharge for residential delivery, or for delivery to a location that doesn't have loading docks or forklifts. Be sure to advise us if you're not set up to receive motor freight shipments.  <a href="request_info.html">Contact us</a> for more information on shipping. </p>
		      <h2>&nbsp;</h2>
		      <h2>Installation</h2>
					<p>The installation of your Fit-Trail system is very &quot;low-tech&quot;, not much different than installing a fence or a basketball goal. Equipment required consists of basic digging tools (shovels, post hole diggers), assembly tools (socket wrenches, hammer, framing square, level), and concrete (bagged pre-mix or via a concrete truck.) Approximately 100 bags of premixed concrete are required for the 20 station system and approximately 50 bags are required for the 10 station system. Each system comes with a complete installation manual and parts list, and any questions that arise during installation can be promptly answered with a call to us toll-free at 1-800-727-6884.</p>
<p>Approximately 80 to 100 man hours are needed to install a 20 station Fit-Trail and approximately 30 to 50 man hours are needed for installation of a 10 station Fit-Trail. Many purchasers have handled their own installation by seeking labor from volunteers, service clubs, or scout organizations, thereby getting more involvement from the local community. </p>
<p>&nbsp;</p>
</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="footerArea">
			<div class="container"> 
				<div class="copyright"><strong>®</strong>  2011 Fit-Trail.  All rights reserved.<br />
Fit-Trail is a registered trademark under license from Recreational Development Corporation </div>
			</div>
		</div>
		
		<script type="text/javascript">
		<!--
		var MenuBar1 = new Spry.Widget.MenuBar("MenuBar1", {imgDown:"SpryAssets/SpryMenuBarDownHover.gif", imgRight:"SpryAssets/SpryMenuBarRightHover.gif"});
		//-->
		</script>
	</body>
</html>
